<template>
	<section class="boxes">
		<canvas id="canvas" :width="width" 
							:height="height"
							@contextmenu="addActiveBox"
							@mouseup="cancelMove"
							@mousemove="move"
							@mousedown="changeBox"
							>
		</canvas>
		
	</section>
</template>
<script>
	export default{
		data(){
			return {
				ctx: null,
				width: window.innerWidth,
				height: window.innerHeight,
				xCoordinate: 150,
				yCoordinate: 50,
				count: 5,
				boxes: [],
				linesID: [],
				boxWidth: 100,
				boxHeight: 100,
				activeBox: [],
				target: null,
			}
		},

		methods: {
			updateBoxes(){
				const vm = this
				vm.ctx.clearRect(0, 0, vm.width, vm.height)
				vm.ctx.fillStyle = '#25d2e8'
				vm.boxes.forEach(box => {	
					vm.ctx.fillRect(box.x, box.y, vm.boxWidth, vm.boxHeight)
				})
			},

			addBox(){
				const vm = this
				vm.count++
				vm.boxes.push({
					id: vm.count,
					x: vm.xCoordinate*vm.count,
					y: vm.yCoordinate,
				})
				vm.updateAll()

			},

			addActiveBox(event){
				event.preventDefault()
				const vm = this
				vm.target = null
		
				vm.boxes.forEach(box =>{
					let width = event.pageX >= box.x && event.pageX <= box.x + 100
					let height = event.pageY >= box.y && event.pageY <= box.y + 100 

					if(width && height){
						vm.activeBox.push(box)
					}
				})

				if(vm.activeBox.length == 2){
					vm.linesID.push({
						idFirst: vm.activeBox[0].id,
						idSecond: vm.activeBox[1].id
					})
					vm.activeBox = []
				}
				if(vm.linesID.length != 0){
					vm.updateLines()
				}
				
				
			},

			updateLines(){
				const vm = this
				let lines = this.linesID.map(line =>{
					return {
						first: vm.boxes.filter(box => box.id == line.idFirst)[0],
						second: vm.boxes.filter(box => box.id == line.idSecond)[0]
					}
				})

				lines.forEach(line => {
					vm.ctx.beginPath();
					vm.ctx.strokeStyle = 'green'
					vm.ctx.lineWidth = '5'
					vm.ctx.moveTo(line.first.x + vm.boxWidth/2, line.first.y + vm.boxHeight/2)
					vm.ctx.lineTo(line.second.x + vm.boxWidth/2, line.second.y + vm.boxHeight/2)
					vm.ctx.stroke()
				})		  
			},

			move(event){
				const vm = this		
				if(vm.target != null){
					vm.boxes.forEach(box =>{
						if(box.id == vm.target){
							box.x = event.pageX
							box.y = event.pageY
						}	
					})
				}			
				vm.updateAll()		
			},

			cancelMove(){
				const vm = this
				vm.target = null
			},

			changeBox(event){
				const vm = this
				
				vm.boxes.forEach(box => {
					let width = event.pageX >= box.x && event.pageX <= box.x + 100
					let height = event.pageY >= box.y && event.pageY <= box.y + 100 

					if(width && height){
						vm.target = box.id
					}
				})
			},

			updateAll(){
				const vm = this
				vm.updateBoxes()
				vm.updateLines()
			}
		},
		
		mounted(){
			const vm = this
			let canvas = document.querySelector('#canvas')
			vm.ctx = canvas.getContext('2d')
			for(let i = 1; i < vm.count + 1; i++){			
				vm.boxes.push({
					id: i,
					x: vm.xCoordinate*i,
					y: vm.yCoordinate,
				})
			}
			vm.updateBoxes()
		}
	}
</script>
<style>
	html, body{
		margin: 0;
		padding: 0;
		position: relative;
	}
	#canvas{
		width: 100%;
		height: 100%;
	}
	.add{
		top:0;
		position: absolute;
		margin: 0 auto;
		text-align: center;
	}
</style>