<template>
  <div id="app">
    <Boxes />
  </div>
</template>

<script>
import Boxes from './components/boxes.vue'

export default {
  name: 'App',
  components: {
    Boxes
  }
}
</script>

<style>

</style>
